# Binaries
bz
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
coverage.html

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
